name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (semver, e.g. 1.0.0, minor, major, patch)'
        required: false
        default: 'patch'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Configure Git User
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.FG_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          if [ -n "${{ github.event.inputs.version }}" ]; then
            npm run release -- --ci --increment ${{ github.event.inputs.version }}
          else
            npm run release -- --ci
          fi
